body {
  background: #000;
  color: #B2CDDE;
  font-family: courier new;
}
#light {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle 400px,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.2) 80%,
    rgba(0,0,0,.7) 100%
  )
}
#wrap {
  margin: auto;
  width: 700px;
  height: 780px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
#ctrl {
  padding: 7px 0px 7px 7px;
  font: 11px courier new;
  color: #C5B358;
}
#status {
  padding: 5px 0px 3px 10px;
  z-index: 3;
  text-align: left;
  font-size: 14px;
  text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}
#status span, #ctrl span {
  position: static;
  display: inline-block;
}
#loading {
  text-align: center;
  width: 100%;
  padding: 0px !important;
}
#screen {
  position: relative;
  width: 700px;
  height: 700px;
  overflow: hidden;
  cursor: crosshair;
  border-radius: 50%;
}
.testGradient {
  background: -webkit-linear-gradient(#434343, #000000);
  background: -o-linear-gradient(#434343, #000000);
  background: -moz-linear-gradient(#434343, #000000);
  background: linear-gradient(#434343, #000000);
}
#screen canvas {
  position: absolute;
  top: -150px;
  left: -150px;
}
#screen * {
  position: absolute;
}
#power {
  background: #C5B358;
  height: 24px;
  width: 694px;
}
#powerbar {
  background: #000;
  width: 694px;
  border: 3px solid #222;
}
.msg {
  z-index: 1500;
  width: 700px;
  height: 33px;
  font-size: 30px;
  text-align: center;
}
#msg3 {
  top: 335px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  background-color: red;
  animation: blinker 1.5s linear infinite;
  display: none;
}
#msg1 {
  top: 270px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  background-color: cornflowerblue;
  display: none;
}
#msg2 {
  top: 400px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  /*background-color: #6495ed29;*/
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.rotateTo90 {
  -webkit-animation:from0To90 2s linear forwards;
  -moz-animation:from0To90 2s linear forwards;
  animation:from0To90 2s linear forwards;
}
.rotateTo180 {
  -webkit-animation:from90To180 2s linear forwards;
  -moz-animation:from90To180 2s linear forwards;
  animation:from90To180 2s linear forwards;
}
.rotateTo270 {
  -webkit-animation:from180To270 2s linear forwards;
  -moz-animation:from180To270 2s linear forwards;
  animation:from180To270 2s linear forwards;
}
.rotateTo0 {
  -webkit-animation:from270To360 2s linear forwards;
  -moz-animation:from270To360 2s linear forwards;
  animation:from270To360 2s linear forwards;
}
@-moz-keyframes from0To90 { 
  0% { -moz-transform: rotate(0deg); } 
  100% { -moz-transform: rotate(-90deg); }
}
@-webkit-keyframes from0To90 { 
  0% { -webkit-transform: rotate(0deg); } 
  100% { -webkit-transform: rotate(-90deg); } 
}
@keyframes from0To90 { 
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
  100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } 
}
@-moz-keyframes from90To180 { 
  0% { -moz-transform: rotate(-90deg); } 
  100% { -moz-transform: rotate(-180deg); }
}
@-webkit-keyframes from90To180 { 
  0% { -webkit-transform: rotate(-90deg); } 
  100% { -webkit-transform: rotate(-180deg); } 
}
@keyframes from90To180 { 
  0% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } 
  100% { -webkit-transform: rotate(-180deg); transform:rotate(-180deg); } 
}
@-moz-keyframes from180To270 { 
  0% { -moz-transform: rotate(-180deg); } 
  100% { -moz-transform: rotate(-270deg); }
}
@-webkit-keyframes from180To270 { 
  0% { -webkit-transform: rotate(-180deg); } 
  100% { -webkit-transform: rotate(-270deg); } 
}
@keyframes from180To270 { 
  0% { -webkit-transform: rotate(-180deg); transform:rotate(-180deg); } 
  100% { -webkit-transform: rotate(-270deg); transform:rotate(-270deg); } 
}
@-moz-keyframes from270To360 { 
  0% { -moz-transform: rotate(-270deg); } 
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes from270To360 { 
  0% { -webkit-transform: rotate(-270deg); } 
  100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes from270To360 { 
  0% { -webkit-transform: rotate(-270deg); transform:rotate(-270deg); } 
  100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } 
}