body {
  background: #000;
  color: #B2CDDE;
  font-family: courier new;
}
.miner {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 6px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border: 4px solid black;
  cursor: pointer;
}
.offline {
  opacity: 0.2;
  cursor: not-allowed;
}
.active {
  border:4px solid rgb(226, 88, 34);
  box-shadow: 0 0px 5px 5px rgba(226, 88, 34,0.6);
}
#miners {
  height: 70px;
  padding-top: 40px;
}
#light {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle 400px,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.2) 80%,
    rgba(0,0,0,.7) 100%
  )
}
#wrap {
  margin: auto;
  width: 700px;
  height: 880px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
#status {
  padding: 5px 0px 40px 10px;
  z-index: 3;
  text-align: left;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}
#status span {
  position: static;
  display: inline-block;
}
#loading {
  text-align: center;
  width: 100%;
  padding: 0px !important;
}
#screen {
  position: relative;
  width: 700px;
  height: 700px;
  overflow: hidden;
  cursor: crosshair;
  border-radius: 50%;
}
#screen canvas {
  position: absolute;
  top: -150px;
  left: -150px;
}
#screen * {
  position: absolute;
}
.msg {
  z-index: 1500;
  width: 700px;
  height: 33px;
  font-size: 30px;
  text-align: center;
}
#msg3 {
  top: 335px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  background-color: red;
  animation: blinker 1.5s linear infinite;
  display: none;
}
#msg1 {
  top: 270px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  background-color: cornflowerblue;
  display: none;
}
#msg2 {
  top: 400px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
